@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Guidelines */
*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Poppins', sans-serif;
}



/* navbar each pages */
.brand a{
    font-weight: bold;
}
.navbar-nav a{
    font-size:14px;
}

